@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 500px) {
  .background-gradient::before {
    background: radial-gradient(circle at center, green 0, green, green 100%);
    z-index: -10;
    content: '';
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

.image-container {
  position: relative;
}

.annotation-rect {
  position: absolute;
}
.annotation-rect:hover {
  border: 2px solid red;
}
